obj/
bin/

*~
*.d
__pycache__
compiled
/.vscode
/local.mk
/o.*
.codemod.bookmark
*.pyc
.DS_Store
.gdbinit
.check_pmm.log
.gdb.in
.qemu.out
.check_output.log
serval/
*.log
exp*
verif/exp*
.metals/

# For vim users:
*.swp
*.bak
